<div class="container">
  <div class="header-container">
    <h1 class="header-h1"><strong>Your Bookmarks</strong></h1>
  </div>

<% @posts.each do |post|%>
<%= render partial: "posts/post-card", locals: {post: post} %>
<%# <%= link_to "Delete", bookmarks_path(@bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% end %>
</div>
