// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$darkgrey:#393E46;
$mintgreen: #6D9886;
$beige: #F2E7D5;
$lightgrey: #F7F7F7;
