.show-post-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    background: none;
    border: none;
  }
}

.show-post-icon-content i {
  font-size: 1.5em;
  margin: 0px 4px;
}

.show-post-icon-content p {
  font-size: 1.5em;
  font-weight: bold;
  color: $darkgrey;
}
