<div class="d-flex justify-content-around" style="padding-top: 30px;padding-bottom: 30px;">
      <%= image_tag "bookmark", style: 'height:30px; width:30px;'%>
      <%= image_tag "add", style: 'height:30px; width:30px;' %>
      <%= image_tag "profile", style: 'height:30px; width:30px;' %>
</div>
