<div class="container">
<h1 align = center>Welcome</h1>

<div style="width: 100%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<button type="button" class="button">GO</button>

<div class="d-flex justify-content-around">
<div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "" %>
    <% end %>...</div>
</div>
