<div class="new-form-container post-form">
  <%= simple_form_for([post, comment]) do |f|  %>
    <%= f.input :content, placeholder: "Your thoughts?", label: false %>
    <div class= "btn-form" style= "margin-left: 120px">
    <%= button_tag( :class => "btn btn btn-block") do %>
    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    <% end %>
    </div>
  <% end %>
</div>
