<div class="container">
  <div class="header-container">
    <h1 class="header-h1"><i class="fa-solid fa-mask"></i> <strong>news</strong> <i class="fa-solid fa-mask"></i></h1>
  </div>
</div>
<br>

<div class="container">
  <div class= "main-container">
    <div class="grid-container">
      <div class="card-grid">
        <% @posts.each do |post| %>
          <%= render partial: "post-card", locals: { post: post } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
