<div class="container">
  <div class="header-container">
<<<<<<< HEAD
    <h1 class="header-h1"><strong>Neighbourhood News</strong></h1>
  </div>
=======
    <h1 class="header-h1"><i class="fa-solid fa-mask"></i> <strong>news</strong> <i class="fa-solid fa-mask"></i></h1>
  </div>
</div>
<br>
<div class="container">
  <div class= "main-container">
    <div class="grid-container">
      <div class="card-grid">
        <% @posts.each do |post| %>
          <%= render partial: "post-card", locals: { post: post } %>
        <% end %>
      </div>
    </div>
    <div class="map" id="map2"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
>>>>>>> f348157695c865d049d3308755700245ce7e70f1
