<div class="container">
  <div class="header-container">
    <h1 class="header-h1"><strong>News</strong></h1>
  </div>
<div style="width: 100%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<br>
<div class="container">
  <div class= "main-container">
    <div class="grid-container">
      <div class="card-grid">
        <% @posts.each do |post| %>

          <%= render partial: "post-card", locals: { post: post } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
