.button {
margin-top: 40px;
background-color: #6d9886;
margin-left: 160px;
border-radius: 10%;
width: 90px;
height: 50px;
font-size: 30px;
justify-content: center;
color:  #f7f7f7;
}

.button:active {
  background-color: #6d9886;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-form {
  color: #6d9886;
  font-size: x-large;
}

.btn-block{
  font-size: x-large;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10x;
  background-color: #6d9886;
  border-radius: 5px;
}

.fa-paper-plane-o{
  color: #0E0000;
  padding-top: 10px;
}

.btn-flat{
  font-size: 25px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10x;
  background-color: #6d9886;
  border-radius: 5px;
  font-weight: bold;

}
