.card-grid {
  display: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  color: #393E46;
  padding: 0;
  margin: 0;
}

.card-post {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: stretch;
  margin-bottom: 10px;
  color: #393E46;
  text-decoration: none !important;
  padding: 4px;
}

.card-post h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  margin-top: 4px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-content {
  font-size: 19px;
  line-height: 1.4;
  opacity: .7;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;

}

.card-content i {
  font-size: 1.7em;
  margin-right: 4px;
  margin-left: 8px;
}
.card-date {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
  font-weight: bold;
}


.card-post .card-post-infos {
  padding: 0px 8px 0px 8px ;
  display: flex;
  flex-grow: 1;
  margin-left: 8px;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-line-clamp: 2;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  // display: -webkit-box;   <-this makes the spreading of icons and user not spread if uncommented
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
