.form-control {
  background-color: $lightgrey;
}

.form-control-homepage {
  height: 55px;
  width: 100%;
  font-size: 20px;
}

.post-form textarea {
  background-color: $lightgrey;
}


  //comment form

  .comment_content textarea{
    border-radius: 5px;
}
