.header-container {
  padding: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 20px;
  text-shadow: gray;
  text-align: center;
  align-items: center;
  // line-height: normal;
  font-size: 18px;
  color: #393E46;
  border-color: #393E46;
  // padding-bottom: 0;
}

i {
  color: #6D9886;
  font-size: 45px;
}