.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-top-right {
  width: 398px;
}

a.mapboxgl-ctrl-logo {

}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin: 10;
}

.input.mapboxgl-ctrl-geocoder--input {
  display: none;
}

.mapboxgl-ctrl-geocoder--input {
  display: none;
}

.mapboxgl-marker{
  color: black;
}
