.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-top-right {
  margin-top: 441px;
  padding-left: 30px;
  width: 398px;
}

a.mapboxgl-ctrl-logo {
  margin: 0 0 467px -10px;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin: 0;
}


