.navbar-lewagon {
  justify-content: space-between;
  background: #6D9886;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-toggler {
  background-color: #F2E7D5;
}

.navbar-toggler-icon {
  color: #F2E7D5;
}


.navbar-toggler-icon {
  color: #F2E7D5;
}

.nav-link {
  padding: 0px;
  margin: 0px;
  text-align: right;
  color: #0E0000;
  font-size: 16px;
}

.dropdown-item {
  padding: 0px;
  margin: 0px;
  text-align: right;
  color: #0E0000;
  font-size: 16px;
  
}
